nav {
    margin: 20px;
  
    button {
      margin-bottom: 20px; 
    }
  
    .menu {
      list-style-type: none;
      padding: 0;
  
      .item {
        margin-bottom: 15px;
  
        .dropdown-row {
          display: flex; 
          flex-direction: column; 
          margin-bottom: 10px; 
  
          .dropdown-toggle {
            cursor: pointer;
            padding: 10px; 
            background-color: #f1f1f1; 
            border: 1px solid #ccc; 
            border-radius: 5px;
            margin-bottom: 5px; 
  
            &:hover {
              background-color: #e1e1e1; 
            }
          }
  
          .dropdown-content {
            display: none; 
            margin-top: 10px;
            border: 1px solid #ccc; 
            border-radius: 5px; 
            background-color: #fff; 
            padding: 10px;
            width: 100%;
  
            &.active {
              display: block; 
            }
          }
        }
      }
  
      .overall-dropdown {
        margin: 10px 0; 
        border: 1px solid #ccc; 
        padding: 10px; 
        background-color: #f9f9f9; 
        border-radius: 5px; 
      }
    }
  }