.home-page {
    justify-content: center;
    background-color: #66B58F;

    .data-input-box {
        width: 400px;
        height: 380px;
        position: relative;
        left: 50%;
        margin-top: 125px;
        margin-left: -190px;
        background-color: #F1FAEE;
        border-radius: 15px;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);

        .heading-section {
            text-align: left;
            padding-top: 8px;
            padding-left: 20px;
            
            
            h1, h4 {
                font-family: Coolvetica;
                font-weight: 100;
                color: black;
                word-spacing: 1px;
            }
    
            h1 {
                font-weight: 500;
                margin-bottom: 1px;
                font-size: 20px;
            }
        }

        .date-box-container > * {
            display: inline-flex;
        }

        .date-box-container {
            margin-top: 10px;
            position: relative;
            left: 50%;
            margin-left: -150px;
            margin-bottom: 10px;
            margin-top: 30px;

            .date-label {
                color: black;
                height: fit-content;
                width: fit-content;
                font-family: Coolvetica;
                border-radius: 10px;
                font-size: 15px;
                font-style: italic;
            }


            .calendar {
                cursor: pointer;
                font-size: 15px;
                font-family: Coolvetica;
                font-weight: 100;
                color: black;
                border-color: black;
                border-style: solid;
                border-radius: 5px;
                margin-left: 10px;
            }
        }


        .submit-button {
            background-color: #66B58F;
            background: radial-gradient(circle, #66B58F, #8FC7A6, #B9DAC0);            
            color: #FCF7F8;
            border: 2px solid black;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
            cursor: pointer;
            font-family: Coolvetica;
            position: relative;
            margin-top: 40px;
            height: 25px;
            font-size: 20px;
            height: fit-content;
            width: fit-content;
            padding: .2em .6em;
            border-radius: 20px;
            position: relative;
            left: 50%;
            margin-left: 20px;

            &:active {
                transform: translateY(2px); /* Moves the button down */
                box-shadow: 0 2px 5px rgba(0, 123, 255, 0.2);
            }
        }
    }


    .input-container {
        width: fit-content;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin-left: 45px;
        margin-top: 5px;


        .input-box {
            margin-bottom: 10px;
            margin-right: 10px;


            .input-data {
                border: 1px solid black;
                height: fit-content;
                width: 150px;
                background-color: #FCF7F8;
                font-size: 15px;
                color: black;
                font-family: Coolvetica;
                margin: 0;
                border-radius: 10px;
                padding: .2em;
            }
   
            .input-unit {
                height: 20px;
                width: fit-content;
                font-size: 15px;
                color: black;
                font-family: Coolvetica;
                font-style: italic;
                margin-top: 0px;
                padding-left: 5px;
                border-radius: 10px;
            }
        }
    }
}
