.home-page {
    justify-content: center;
    .nav-bar {
        width: 30px;

        .heart-icon {
            font-size: 2.5em;
            color: white;   
            border: 3px solid white;
            padding: .1em; 
            border-radius: 50%;
            position: absolute;
            left: 95%;
            margin-top: -100px;
    
            &:hover {
                color: black; 
                border: 3px solid black;
            }
        }
    }

    .heading-section {
        text-align: center;
        margin-top: 100px;
        h1, h4 {
            font-family: Coolvetica;
            font-weight: 100;
            color: black;
            word-spacing: 1px;
        }

        h1 {
            font-weight: 500;
            margin-bottom: 1px;
            font-size: 40px;
        }

        h4 {
            word-spacing: 3px;
            margin-top: 0px;
            font-size: 15px;
        }
    }

    .data-input-box {
        width: 400px;
        height: 400px;
        position: relative;
        left: 50%;
        margin-left: -200px;

        .date-box-container {
            margin-top: 10px;
            position: relative;
            left: 50%;
            margin-left: -100px;
            margin-bottom: 10px;

            .date-label {
                color: black;
                height: fit-content;
                width: fit-content;
                font-family: Coolvetica;
                border-radius: 10px;
                font-size: 15px;
                font-style: italic;
            }

            .calendar {
                cursor: pointer; 
                font-size: 25px; 
                font-family: Coolvetica;
                font-weight: 100;
                color: black;
                border-color: black;
                border-style: solid;
                border-radius: 5px;
            }
        }

        .submit-button {
            background-color: black;
            color: #FCF7F8;
            border: none;
            cursor: pointer;
            font-family: Coolvetica;
            position: relative;
            margin-top: 15px;
            height: 25px;
            font-size: 20px;
            height: fit-content;
            width: fit-content;
            padding: .2em .6em;
            border-radius: 20px;
            position: relative;
            left: 50%;
            margin-left: -80px;
        }
    }

    .input-container {
        width: fit-content;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(3, 1fr); 
        margin-left: 45px;
        margin-top: 5px;

        .input-box {
            margin-bottom: 10px;
            margin-right: 10px;

            .input-data {
                border: 1px solid black; 
                height: fit-content;
                width: 150px;
                background-color: #FCF7F8;
                font-size: 15px;
                color: black;
                font-family: Coolvetica;
                margin: 0;
                border-radius: 10px;
                padding: .2em;
            }
    
            .input-unit {
                height: 20px;
                width: fit-content;
                font-size: 15px;
                color: black;
                font-family: Coolvetica;
                font-style: italic;
                margin-top: 0px;
                padding-left: 5px;
                border-radius: 10px;
            }
        }
    }
}