.home-page {

    .health-modifiers-container {
        margin-top: 80px;
        position: relative;
        left: 50%;
        margin-left: -140px;
        width: fit-content;

        .health-modifiers {
            color: white;
            width: 3em;
            height: 3em;
            margin-right: 1.5em;
        }
    }

    .data-input-box {
        border: 2px solid white;
        width: 800px;
        height: 350px;
        position: relative;
        left: 50%;
        margin-left: -400px;
        margin-top: 20px;
        background-color: #505452;

        .date-box-container {
            display: flex;
            flex-direction: row;
            gap: 20px;    
            margin-left: 150px;     
            margin-top: 10px;

            .date-box {
                display: flex;
                flex-direction: column; 
                align-items: center; 
                
                .date-label, .date-output {
                    text-align: center;    
                }
                
                .date-label {
                    background-color: red;
                    height: fit-content;
                    width: 30px;
                    padding: .3em .8em;
                    font-family: Coolvetica;
                }
        
                .date-output {
                    background-color: black;
                    height: fit-content;
                    width: fit-content;
                    font-size: 40px;
                    color: orange;
                    padding: 5px;
                    font-family: DS-Digital;
                    margin-top: 5px;
                    padding-left: 10px;
                    letter-spacing: 6px;
                }
            }
        }
    }

    .input-container {
        width: fit-content;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(3, 1fr); 
        margin-left: 45px;
        margin-top: 35px;

        .input-box div {
            margin: 6px 5px;
        }

        .input-box {
            display: inline-flex;

            .input-data {
                width: calc(33.33% - 10px); 
                border: 1px solid #333; 
                height: 50px;
                width: 150px;
                background-color: black;
                border: none;
                font-size: 15px;
                color: white;
                font-family: Coolvetica;
                display: flex; 
                align-items: center;
                justify-content: center; 
                margin: 0;
            }
    
            .input-unit {
                background-color: black;
                height: 50px;
                width: 200px;
                font-size: 40px;
                color: orange;
                font-family: DS-Digital;
                margin-top: 0px;
            }
        }

        
    }
}