.modifiers-container {
    margin-top: 80px;
    position: relative;
    left: 50%;
    transform: translateX(-50%); 
    width: fit-content;

    nav {
        display: flex;             
        justify-content: center;   
        gap: 30px;              
    }

    .modifiers {
        font-size: 4em;          
        color: white;             
        transition: color 0.3s;   

        &:hover {
            color: orange;         
        }
    }
}
