$primary-color: #66B58F; 
$background-color: #F1FAEE; 
$button-color: #66B58F; 
$border-radius: 8px; 

body, html {
    height: 100%; 
    margin: 0;
}

.center-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #66B58F; 
}

.log-in-container {
    display: flex;
    flex-direction: column; 
    width: 300px; 
    padding: 20px;
    background-color: $background-color; 
    border-radius: $border-radius; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 

    .log-in-title {
        font-family: Roboto;
    }
}

label {
    margin-bottom: 5px; 
    font-weight: bold; 
}

input {
    margin-bottom: 15px; 
    padding: 10px;
    border: 1px solid $primary-color; 
    border-radius: $border-radius; 
    background-color: $background-color; 
    transition: border 0.3s; 

    &:focus {
        border-color: darken($primary-color, 10%); 
        outline: none; 
    }
}

button {
    padding: 10px;
    border: none; 
    border-radius: $border-radius; 
    color: white; 
    background-color: $button-color; 
    cursor: pointer; 
    transition: background-color 0.3s; 

    &:hover {
        background-color: darken($button-color, 10%);
    }

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}